[submodule "tests/gb-test-roms"]
	path = tests/gb-test-roms
	url = https://github.com/retrio/gb-test-roms.git
[submodule "tests/GameboyCPUTests"]
	path = tests/GameboyCPUTests
	url = https://github.com/evanwporter/GameboyCPUTests.git
[submodule "tests/mooneye-test-suite"]
	path = tests/mooneye-test-suite
	url = https://github.com/evanwporter/mooneye-test-suite
[submodule "tests/GameboyAdvanceCPUTests"]
	path = tests/GameboyAdvanceCPUTests
	url = https://github.com/evanwporter/ARM7TDMI.git
[submodule "cores/gba/tests/golden/nba"]
	path = cores/gba/tests/golden/nba
	url = https://github.com/nba-emu/NanoBoyAdvance.git
[submodule "tests/gba-tests"]
	path = tests/gba-tests
	url = https://github.com/jsmolka/gba-tests
