(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_hierarchy_icons: None,
    show_parameters_in_scopes: None,
    parameter_display_location: None,
    highlight_focused: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("C:\\Users\\evanw\\vemu\\cores\\gba\\tests\\arm.gba\\arm.vcd"),
        format: Vcd,
        active_scope: Some(WaveScope((
            strs: [
                "TOP",
                "GameboyAdvance",
                "cpu_inst",
                "controlUnit",
                "control_signals",
            ],
            id: Wellen((107)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (8),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (7),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (12),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (13),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (16),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (17),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (18),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (26),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (27),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (28),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (29),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (30),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (9),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (14),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (10),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (11),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (15),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (20),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (21),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (22),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (23),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (25),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (32),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (11): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "GameboyAdvance",
                            "cpu_inst",
                            "decoder_inst",
                        ],
                        id: Wellen((111)),
                    ),
                    name: "IR",
                    id: Wellen((706)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "…decoder_inst.IR [31:0]",
                display_name_type: Unique,
                manual_name: Some("Decoder IR"),
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (18): Marker((
                color: None,
                background_color: None,
                name: Some("End of Instr 2"),
                idx: 4,
            )),
            (7): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "reset",
                    id: Wellen((2)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "reset",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (14): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "GameboyAdvance",
                            "cpu_inst",
                            "regs",
                            "user",
                        ],
                        id: Wellen((49)),
                    ),
                    name: "r15",
                    id: Wellen((367)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "r15 [31:0]",
                display_name_type: Unique,
                manual_name: Some("PC"),
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (21): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "GameboyAdvance",
                            "cpu_bus",
                        ],
                        id: Wellen((10)),
                    ),
                    name: "read_en",
                    id: Wellen((81)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "read_en",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (9): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "GameboyAdvance",
                            "cpu_bus",
                        ],
                        id: Wellen((10)),
                    ),
                    name: "addr",
                    id: Wellen((78)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "addr [31:0]",
                display_name_type: Unique,
                manual_name: Some("CPU Address"),
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (27): Marker((
                color: None,
                background_color: None,
                name: Some("End of Instr 4"),
                idx: 6,
            )),
            (25): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "GameboyAdvance",
                            "cpu_inst",
                            "control_signals",
                        ],
                        id: Wellen((46)),
                    ),
                    name: "memory_latch_IR",
                    id: Wellen((329)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "memory_latch_IR",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (26): Marker((
                color: None,
                background_color: None,
                name: Some("End of Instr 3"),
                idx: 5,
            )),
            (8): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "clk",
                    id: Wellen((1)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (32): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "GameboyAdvance",
                            "cpu_inst",
                            "controlUnit",
                            "control_signals",
                        ],
                        id: Wellen((107)),
                    ),
                    name: "addr_bus_src",
                    id: Wellen((606)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "addr_bus_src [2:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (20): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "GameboyAdvance",
                            "cpu_inst",
                        ],
                        id: Wellen((44)),
                    ),
                    name: "flush_req_pending",
                    id: Wellen((351)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "flush_req_pending",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (12): Marker((
                color: None,
                background_color: None,
                name: Some("End of Reset"),
                idx: 0,
            )),
            (29): Marker((
                color: None,
                background_color: None,
                name: Some("End of Instr 6"),
                idx: 8,
            )),
            (16): Marker((
                color: None,
                background_color: None,
                name: Some("End of Instr 0"),
                idx: 2,
            )),
            (15): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "GameboyAdvance",
                            "cpu_inst",
                        ],
                        id: Wellen((44)),
                    ),
                    name: "flush_req",
                    id: Wellen((350)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "flush_req",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (13): Marker((
                color: None,
                background_color: None,
                name: Some("End of Flush"),
                idx: 1,
            )),
            (28): Marker((
                color: None,
                background_color: None,
                name: Some("End of Instr 5"),
                idx: 7,
            )),
            (22): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "GameboyAdvance",
                            "cpu_bus",
                        ],
                        id: Wellen((10)),
                    ),
                    name: "write_en",
                    id: Wellen((82)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "write_en",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (30): Marker((
                color: None,
                background_color: None,
                name: Some("End of Instr 7"),
                idx: 9,
            )),
            (10): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "GameboyAdvance",
                            "cpu_inst",
                        ],
                        id: Wellen((44)),
                    ),
                    name: "IR",
                    id: Wellen((348)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "…cpu_inst.IR [31:0]",
                display_name_type: Unique,
                manual_name: Some("CPU IR"),
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (23): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "GameboyAdvance",
                            "cpu_inst",
                            "control_signals",
                        ],
                        id: Wellen((46)),
                    ),
                    name: "pipeline_advance",
                    id: Wellen((345)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "pipeline_advance",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (17): Marker((
                color: None,
                background_color: None,
                name: Some("End of Instr 1"),
                idx: 3,
            )),
        },
        display_item_ref_counter: 32,
        viewports: [
            (
                curr_left: (0.16592594160857077),
                curr_right: (0.46222223790486794),
                target_left: (0.1588888883215408),
                target_right: (0.19592592535857792),
                move_start_left: (0.1588888883215408),
                move_start_right: (0.19592592535857792),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            251,
        ])),
        markers: {
            7: (1, [
                185,
            ]),
            4: (1, [
                155,
            ]),
            5: (1, [
                165,
            ]),
            2: (1, [
                65,
            ]),
            1: (1, [
                35,
            ]),
            6: (1, [
                175,
            ]),
            3: (1, [
                105,
            ]),
            9: (1, [
                275,
            ]),
            8: (1, [
                205,
            ]),
            0: (1, [
                15,
            ]),
        },
        focused_item: None,
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: None,
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    frame_buffer: (
        pixels_per_row: 16,
        square_pixels: true,
        rgb_mode: false,
        grayscale_bits: 1,
        r_bits: 3,
        g_bits: 3,
        b_bits: 2,
    ),
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
    animation_enabled: None,
    use_dinotrace_style: None,
    transition_value: None,
)